<div class="container">
    <h2>Liste des Questions</h2>
    <div *ngIf="QuestionsList.length === 0">
        <p>Aucune question disponible.</p>
    </div>
    <table class="table table-striped" *ngIf="QuestionsList.length > 0">
        <thead>
        <tr>
            <th>ID</th>
            <th>Question</th>
            <th>Catégorie</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let question of QuestionsList">
            <td>{{ question.questionId }}</td>
            <td>{{ question.questionText }}</td>
            <td>{{ question.category }}</td>
            <td>
                <a [routerLink]="['/questionlist', question.questionId]" class="btn btn-info">Détails</a>
            </td>
        </tr>
        </tbody>
    </table>

    <div>
        <a routerLink="/questionlist/new" class="btn btn-primary">Ajouter une Question</a>
    </div>
</div>