<p>question-form works!</p>
<form [formGroup]="myForm" (ngSubmit)="onSubmit()">
    <label for="questionText">Question:</label>
    <input id="questionText" formControlName="questionText" type="text">
    <div *ngIf="myForm.get('questionText')?.invalid && myForm.get('questionText')?.touched">
        Question is required.
    </div>

    <label for="options">Proposition de réponse:</label>
    <textarea id="options" formControlName="options" rows="6"></textarea>
    <div *ngIf="myForm.get('options')?.invalid && myForm.get('options')?.touched">
        Response proposition is required.
    </div>

    <label for="correctAnswer">La réponse correct:</label>
    <input id="correctAnswer" formControlName="correctAnswer" type="text">
    <div *ngIf="myForm.get('correctAnswer')?.invalid && myForm.get('correctAnswer')?.touched">
        Correct Response is required.
    </div>

    <label for="category">Catégorie:</label>
    <input id="category" formControlName="category" type="text">
    <div *ngIf="myForm.get('category')?.invalid && myForm.get('category')?.touched">
        Categorie is required.
    </div>

    <label for="level">Niveau de difficulté:</label>
    <input id="level" formControlName="level" type="text">
    <div *ngIf="myForm.get('level')?.invalid && myForm.get('level')?.touched">
        level is required.
    </div>

    <button type="submit" [disabled]="myForm.invalid">Submit</button>
</form>