<div class="container">
    <h2>Liste des Questions</h2>
    <div *ngIf="QuestionsList.length === 0">
        <p>Aucune question disponible.</p>
    </div>
    <table class="table table-striped table-primary" *ngIf="QuestionsList.length > 0">
        <thead>
        <tr>
            <th>ID</th>
            <th>Question</th>
            <th>Catégorie</th>
            <th>Options</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let question of QuestionsList">
            <td>{{ question.questionId }}</td>
            <td>{{ question.questionText }}</td>
            <td>{{ question.category }}</td>
            <td>{{ question.options }}</td>
            <td>
                <a [routerLink]="['/app/list/question', question.questionId]" class="btn btn-info w-100 my-1">Détail</a>
                <br/>
                <a [routerLink]="['/app/update/question', question.questionId]" class="btn btn-info w-100 my-1">Modifier</a>
                <br/>
                <a (click)="deleteQuestion(question.questionId)" class="btn btn-info w-100 my-1">Supprimer</a>
            </td>
        </tr>
        </tbody>
    </table>

    <div>
        <a routerLink="/app/new/question" class="btn btn-primary">Ajouter une Question</a>
    </div>
</div>