<div class="container">
    <div *ngIf="QuizList.length === 0">
        <p>Aucune quiz disponible.</p>
    </div>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3" *ngIf="QuizList.length > 0">
        <div class="feature col" *ngFor="let quiz of QuizList">
            <h3 class="fs-2 text-body-emphasis">Quiz {{ quiz.quizName }}</h3>
            <p *ngIf="quiz.quizDescription" >Description du Quiz {{ quiz.quizDescription }}</p>
            <a [routerLink]="['/app/list/quiz', quiz.quizId]" class="btn btn-info icon-link">Détail</a>
        </div>
    </div>
    <div>
        <a routerLink="/app/new/quiz" class="btn btn-primary float-end">Ajouter une Quiz</a>
    </div>
</div>